.search-bar, footer
    {
      background: linear-gradient(to right, #87559b, #383c60);
      color: black; 
      padding: 10px; 
    }

.search-bar input[type="text"] 
    {
      border-radius: 5px;
      border: none;
      padding: 8px;
      background-color: #87559b;
    }

.search-bar button 
    {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: black;
    }
.search-bar input[type="text"]::placeholder 
    {
  color: black; 
    }

table 
    {
      text-align: center;
      margin-left: 50px;
      font-size: 30px; 
    }
    td {
      padding: 10px; 
    }
.img
{
    width: 150px;
    height: 50px;
}

.bi
{
    font-size: 1rem; 
}
.butn
{
    margin-left: 550px;
}
.icon
{
    font-size: 40px;
}

