.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.card h2 {
    color: #333;
}

.card p {
    color: #666;
}
.poste-info {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
    
    
}

.poste-type {
    font-size: 20px;
    color: #080707;
    font-weight: bold;
    margin-right:190px;
}
