{% extends 'accueuil.html' %}

{% block head %}
{% load static %}

    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: black;
}



    </style>
{% endblock %}

{% block body %}
    <p>
        <br><br>
        Help Student est une application dédiée à simplifier la vie des étudiants en leur fournissant des 
        informations et des offres pertinentes
         dans les domaines du transport, du logement, des événements et des stages.
          Que ce soit pour se déplacer en ville, trouver un logement abordable, découvrir les événements
           populaires ou décrocher un stage enrichissant, ÉtudiantConnect est là pour aider les étudiants à
            naviguer dans ces aspects clés de leur vie universitaire.
            <br>
            <br>
            <br>
            Avantages pour les utilisateurs :
            <br>
            Centralisation des informations : Toutes les informations pertinentes pour les étudiants sont regroupées 
            au même endroit, ce qui facilite la recherche et la prise de décision.
            <br>
            <br>
            Économies : Grâce aux offres spéciales et aux réductions exclusives, les 
            étudiants peuvent économiser de l'argent sur leurs dépenses liées au transport, au logement et aux loisirs.
            <br>
            <br>
            Gain de temps : ÉtudiantConnect permet aux étudiants de gagner du temps en accédant rapidement aux informations 
            dont ils ont besoin, sans avoir à consulter plusieurs sources différentes.
            <br>
            <br>
            Opportunités de carrière : La fonctionnalité de recherche de stages aide les étudiants à trouver des
            opportunités de développement professionnel et à démarrer leur carrière du bon pied.
    </p>
{% endblock %}